<!DOCTYPE html>
<html manifest="website.manifest">
<head>
    <meta name="viewport" content="width=320, initial-scale=1.0" />
    <title>My mobile</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
</head>
<body>
<div class="container-fluid" style="padding-top: 20px;">