<% include header %>
<div class="span12 well well- text-center">
    <a href="/index.html">
        <i class="icon-arrow-left"></i>&nbsp;Back
    </a>
</div>
<div class="row-fluid">
    <div class="span4 space text-center">
        <label>Текст</label>
        <input type="text" class="span12" placeholder="Some text over here" />
    </div>
    <div class="span4 space  text-center">
        <label>Email</label>
        <input type="email" class="span12" placeholder="some.email@address.com" />
    </div>
    <div class="span4 space  text-center">
        <label>Телефон</label>
        <input type="tel" class="span12" placeholder="555 555-555" pattern="^\d{3}[-\s]\d{3}[-\s]\d{3}.*?$" />
    </div>
    <div class="span4 space  text-center">
        <label>Цифры</label>
        <input type="number" class="span12" placeholder="1234567890" />
    </div>
</div>

<% include footer %>