<% include header %>
<div class="span12 well well- text-center">
<a href="/">
    <i class="icon-arrow-left"></i>&nbsp;Back
</a>
</div>
<div class="row-fluid">
<div class="span12 space text-center">
    <img src="/img/qr.png" />
</div>
<div class="span12 space text-center">
    <a href="intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;end">
        Считать QR code с помошью ...
    </a>
</div>
</div>

<% include footer %>